body {
  background-color: #f6e9ee;
}
h1 {
  font-family: "Roboto";
  color: #363737;
}
h2 {
  font-family: "Montserrat";
  color: #363737;
}

.subButton {
  height: 3.5rem;
  width: 65%;
  color: white;
  font-size: 1rem;
  background-color: #363737;
  border-color: #363737;
  border-width: 0px;
  border-radius: 5px;
}
.subButton:hover {
  background-color: #f6e9ee;
  color: #363737;
  scale: 1.05;
}

.activeStyle {
  background-color: aqua;
}
